$color-theme: #088b8d;
$color-light: #ffffff;
$color-bg-light: #efefef;

body {
    background: $color-bg-light;
}
.app {
    padding-bottom: 100px;
}
.app-header {
    background: $color-theme;
    padding: 35px;
    h1 {
        color: $color-light;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
    }
}
